.welcomepage-main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
}

.welcome-title-section {
  margin-bottom: 20px;
  text-align: center;
  font-size: x-large;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

html,
body {
  padding-top: 50px;
  max-width: 100vw;
  overflow-x: hidden;
}



  