.Accordion {
    padding: 10px;
    margin: auto;
}

.AccordionTitle {
    width: 20vw;
    display: flex;
    justify-content: space-between; /* Align text and icons inline */
    align-items: center; /* Vertically center the content */
    padding: 10px 15px;
    background-color: rgba(100,100,100,.5); /* Change to your desired color */
    cursor: pointer; /* Make the title clickable */
    border: 1px solid;
    border-radius: 5px;
    margin: auto;
}

.AccordionTitle p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.AccordionPlusMinusIcon {
    font-size: 20px;
    color: #666;
}

.Description {
    border: 1px solid;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box; /* Include padding in width calculation */
    line-height: 1.4;
    width: 80vw;
    margin: auto;
}