.hangman {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main_hangman_game {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.hangman_left_section, 
.hangman_middle_section, 
.hangman_right_section {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.hangman_right_section .leaderboard {
    border: 2px solid;
    padding: 20px;
    height: 100%; /* Take up the full right section */
    box-sizing: border-box;
    border-radius: 5px;
}

.hangman_middle_section .guessedLetters {
    border: 2px solid;
    padding: 10px;
    margin-top: 10px;
    /* Match the size of the image and displayWord sections */
    height: auto; /* Adjusts based on content */
    visibility: hidden; /* Hidden initially */
}

.letterInput, 
.messageBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.messageBox {
    flex: 0 0 200px; 
    padding: 10px;
    border-radius: 4px;
}

.letterInput input {
    margin-right: 10px; /* Space between input and button */
}

.hangman h2 {
    padding-bottom: 10px;
}

select {
    margin: 10px;
    background-color: gray;
  }