html,
body {
  padding-top: 50px;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--text-color));
}

.games-page-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}